{% load static %}


<div class="container-fluid ">
    <div class="booking border border-2 mx-auto p-lg-5 pb-lg-3" style="width: 600px;">
      <center><h2 >Booking Info</h2></center>
    <form class="booking-form" action="{% url 'search' %} " method="get" >
    <div class="row  mb-3 justify-content-lg-center">
      <div class="col-lg-1 mt-lg-2">
        <img src="{% static '/images/locationicon.png' %} " height="35px" class="p-1">
      </div>
      <div class="col-lg-8 mt-lg-2">
          <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
      </div>
    </div>
    <div class="row  justify-content-lg-center">
      <div class="col-lg-1">
        <img src="{% static '/images/calendericon.png' %} " height="32px" class="p-1">
      </div>
      <div class="col-lg-4">
        <input type="date" id="startdate" name="startdate" min="" onclick="pick()" required class="form-control" placeholder="Start date">
      </div>
      <div class="col-lg-4">
        <input type="date" id="enddate" name="enddate" min=""  onclick="pick()" required class="form-control" placeholder="End date">
      </div>
    </div>
    <input type="text" name="NumberOfDays" id="NumberOfDays" hidden>
    <div class="row justify-content-lg-center  mt-lg-3">
      <div class="  col-lg-3">
        <button type="submit" class="btn btn-warning">search</button>
      </div>
    </form>
  </div>
  </div>